In [42]:
# !pip install [package name] # use this to install packages in jupyter
# !pip install tensorflow_addons # likely need to run this without the comment
# from geopy.geocoders import Nominatim

import pandas as pd
#from geopy.geocoders import Nominatim
import numpy as np
import re
import matplotlib.pyplot as plt
from matplotlib import style
style.use('seaborn-white')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import tensorflow as tf 
from tensorflow import keras
from tensorflow_addons.metrics import RSquare

Requirement already satisfied: tensorflow_addons in c:\users\owner\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: typeguard>=2.7 in c:\users\owner\anaconda3\lib\site-packages (from tensorflow_addons) (2.13.3)
Requirement already satisfied: packaging in c:\users\owner\anaconda3\lib\site-packages (from tensorflow_addons) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\owner\anaconda3\lib\site-packages (from packaging->tensorflow_addons) (3.0.4)

In [16]:
df = pd.read_excel(r"C:\Users\Owner\Documents\UNL\2022 Fall\Math 435\Datasets\CleanedDataV2.xlsx") 
# change data path to wherever the dataset is at

In [17]:
df.head()

,NBHD,PID,Situs,PrpCls,PrUse,CDU,Qual,YrRD,Remd,Imp,...,HSA_Acres,HSALandValue,TotAcres,V/I,Inst#,SaleDate,SaleQuarter,SaleYear,Price,SaleValidity
0,7HST242,09-13-434-003-000,2525 RIDGE RD,R1,1,4,6,NR,NR,R2,...,NaN,NaN,1.30,I,2016017053,2016-05-05,2,1,2122450.0,1
1,7HSE361,16-11-404-012-000,5330 S 93RD PL,R1,1,4,6,NR,NR,RA,...,NaN,NaN,0.78,I,2022024921,2022-06-02,2,7,1950000.0,1
2,7HSE361,16-11-404-013-000,5410 S 93RD PL,R1,1,4,5,NR,NR,RA,...,NaN,NaN,0.73,I,2021068025,2021-11-11,4,6,1875000.0,1
3,7AEA310,23-31-416-001-000,11737 SEABISCUIT LN,R1,12,4,5,NR,NR,RA,...,2.03,12180.0,3.03,I,2022028838,2022-06-25,2,7,1850000.0,1
4,7HST242,09-13-402-005-000,2421 RIDGE RD,R1,1,5,5,2022,6,RA,...,NaN,NaN,0.58,I,2022024045,2022-06-01,2,7,1800000.0,1

In [47]:
useful_df.dropna(how='any',inplace=True)
useful_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34326 entries, 0 to 35102
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CDU        34326 non-null  int64
 1   Qual       34326 non-null  int64
 2   TLA        34326 non-null  int64
 3   GarCap     34326 non-null  int64
 4   Bedrm      34326 non-null  float64
 5   FND        34326 non-null  float64
 6   801Units   34326 non-null  int64
 7   802Units   34326 non-null  int64
 8   803Units   34326 non-null  int64
 9   FP         34326 non-null  int64
 10  FixCt      34326 non-null  int64
 11  Pool       34326 non-null  int64
 12  LandValue  34326 non-null  int64
 13  TotAcres   34326 non-null  float64
 14  SaleYear   34326 non-null  int64
 15  Price      34326 non-null  float64
dtypes: float64(4), int64(12)
memory usage: 4.5 MB

In [18]:
X = useful_df[[col for col in useful_df.columns if col != 'Price']]
Y = useful_df["Price"]
# Y = np.reshape(list(Y),(-1,1))
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.25)

In [44]:
metric = tfa.metrics.r_square.RSquare()

model = keras.Sequential([
    keras.layers.Dense(12, input_shape=[len(X.columns)], activation='relu'),
    keras.layers.Dense(12, activation='relu'),
    keras.layers.Dense(1, activation='linear')
    ])

model.compile(optimizer='adam',loss='mean_squared_error',metrics=[metric])

fit = model.fit(x_train,y_train,epochs=10)

Epoch 1/10
805/805 [==============================] - 3s 1ms/step - loss: 32436127744.0000 - r_square: -0.9044
Epoch 2/10
805/805 [==============================] - 1s 1ms/step - loss: 5847974912.0000 - r_square: 0.6567
Epoch 3/10
805/805 [==============================] - 1s 1ms/step - loss: 5627469312.0000 - r_square: 0.6696
Epoch 4/10
805/805 [==============================] - 1s 1ms/step - loss: 5374587904.0000 - r_square: 0.6845
Epoch 5/10
805/805 [==============================] - 1s 1ms/step - loss: 4867550720.0000 - r_square: 0.7142
Epoch 6/10
805/805 [==============================] - 1s 1ms/step - loss: 4451027456.0000 - r_square: 0.7387
Epoch 7/10
805/805 [==============================] - 1s 978us/step - loss: 4250259200.0000 - r_square: 0.7505
Epoch 8/10
805/805 [==============================] - 1s 994us/step - loss: 4157727232.0000 - r_square: 0.7559
Epoch 9/10
805/805 [==============================] - 1s 1ms/step - loss: 4124787712.0000 - r_square: 0.7578
Epoch 10/10
805/805 [==============================] - 1s 1ms/step - loss: 4123709952.0000 - r_square: 0.7579

In [46]:
trained = model.predict(x_train)

model.evaluate(x_test, y_test)

805/805 [==============================] - 1s 728us/step
269/269 [==============================] - 0s 820us/step - loss: 3850737152.0000 - r_square: 0.7674

[3850737152.0, 0.7673766613006592]